# Dependency directories
node_modules/
yoga-backend/
/yoga-backend/node_modules/
/yoga-website-master/node_modules/
.git-bak/
**/.git-bak/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db

# Databases
*.sqlite
*.sqlite3
*.db
*.db-journal
*.sqlite-journal
